<div [id]="title.id"
     class="title-card ms-0 me-0 justify-content-between align-items-center border border-muted rounded p-2 gap-2">
    <div class="image-container position-relative flex-grow-0 flex-shrink-0"
         (click)="onCheck()"
         [class.checked]="checked">
        <img [src]="title.pic"
             alt="img">
    </div>
    <div class="px-0 d-flex flex-grow-1 flex-column justify-content-center">
        <div class="d-flex">
            <h2 class="flex-grow-1 text-primary text-center text-full-wrap mb-1 text-decoration-none">
                <a [routerLink]="['/edit', ]"
                   [queryParams]="{from: mode, id: title.id}">
                    <span>{{title.name}}</span>
                </a>
                <span *ngIf="title.status == 'ongoing' && !title.episodes?.length"
                      class="ms-3 px-2 border border-danger text-danger fs-6 anounce"><span>анонс</span></span>
            </h2>
            <div class="flex-grow-0 px-1">
                <i *ngIf="title.status !='archive' && title.currentlyWatched" class="bi bi-eye-fill text-success tw-bold fs-1 lh-1"
                role="button"
                (click)="toggleWatchStatus(title)"></i>
                <i *ngIf="title.status !='archive' && !title.currentlyWatched" class="bi bi-eye opacity-25 text-success tw-bold fs-1 lh-1"
                role="button"
                (click)="toggleWatchStatus(title)"></i>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center gap-2 mb-2 text-enlarge-15">
            <div *ngIf="title.episodes?.length"
                 class="px-1"><span class="text-secondary">Серии:</span> {{title.episodes}}</div>

            <div *ngIf="title.date && title.date.year!=9999"
                 class="px-1"><span class="text-secondary">Дата:</span> {{title.date | ngbDate}}</div>
            <div *ngIf="title.rating"
                 class="px-1"><span class="text-secondary">Рейтинг:</span> {{title.rating}}</div>
        </div>
        <div class="d-flex flex-wrap justify-content-center mb-2 gap-2">
            <div *ngFor="let tag of title.tags"
                 class="px-1 border border-primary">{{tag}}</div>
        </div>
        <div class="d-flex flex-wrap gap-2">
            <a class="btn flex-grow-2"
               [class.disabled]="!title.shiki_link"
               [ngClass]="title.shiki_link ? 'btn-primary': 'btn-outline-primary'"
               [href]="title.shiki_link" target="_blank">Страница на shikimori.one</a>
            <a class="btn flex-grow-1"
               [ngClass]="title.watch_link ? 'btn-success': 'btn-outline-success'"
               [class.disabled]="!title.watch_link"
               [href]="title.watch_link" target="_blank">Смотреть</a>
            <button class="btn flex-grow-1 py-0 d-flex justify-content-center align-items-center"
               [ngClass]="title.torrent_link ? 'btn-success': 'btn-outline-success'"
               [class.disabled]="!title.torrent_link"
               (click)="magnetUrlClick()"
               >
                <div class="icon-mimic"><span>µ</span></div>
            </button>
        </div>
    </div>
    <div class="flex-grow-0 p-0 right-column gap-2">
        <button class="btn"
                [ngClass]="{'btn-success': userVote=='yes', 'btn-outline-success': userVote!='yes', 'top-votes': userVote && topVotesNumber!=0 && topVotesNumber==yesNumber}"
                [ngbTooltip]="userVote ? (yesNumber ? yesVotes : '...') : 'Хочу посмотреть'"
                container="body"
                placement="end"
                (click)="voteClick('yes')">{{userVote ? yesNumber : '🞁'}}</button>
        <button class="btn"
                [ngClass]="{'btn-warning': userVote=='ok', 'btn-outline-warning': userVote!='ok', 'top-votes': userVote && topVotesNumber!=0 && topVotesNumber==okNumber}"
                [ngbTooltip]="userVote ? (okNumber ? okVotes : '...') : 'Не против посмотреть'"
                container="body"
                placement="end"
                (click)="voteClick('ok')">{{userVote ? okNumber : '—'}}</button>
        <button class="btn"
                [ngClass]="{'btn-danger': userVote=='no', 'btn-outline-danger': userVote!='no', 'top-votes': userVote && topVotesNumber!=0 && topVotesNumber==noNumber}"
                [ngbTooltip]="userVote ? (noNumber ? noVotes : '...') : 'Не хочу смотреть'"
                container="body"
                placement="end"
                (click)="voteClick('no')">{{userVote ? noNumber : '🞃'}}</button>
    </div>
</div>
