<div [id]="title.id"
     class="title-card ms-0 me-0 justify-content-between align-items-center border border-muted rounded p-2 gap-2">
    <div class="image-container flex-grow-0"
         (click)="onCheck()"
         [class.checked]="checked">
        <img [src]="title.pic"
             alt="img">
    </div>
    <div class="px-0 d-flex flex-grow-1 flex-column justify-content-center">
        <a [routerLink]="['/edit', ]"
           [queryParams]="{from: mode, id: title.id}">
            <h2 class="text-primary text-center text-full-wrap mb-1">{{title.name}}</h2>
        </a>
        <div class="d-flex flex-wrap justify-content-around mb-2 text-enlarge-15">
            <div *ngIf="title.episodes?.length"
                 class="px-1"><span class="text-secondary">Серии:</span> {{title.episodes}}</div>
            <span *ngIf="title.status == 'ongoing' && !title.episodes?.length"
                  class="px-2 border border-danger text-danger">анонс</span>

            <div *ngIf="title.date && title.date.year!=9999" class="px-1"><span class="text-secondary">Дата:</span> {{title.date | ngbDate}}</div>
            <div *ngIf="title.rating" class="px-1"><span class="text-secondary">Рейтинг:</span> {{title.rating}}</div>
        </div>
        <div class="d-flex flex-wrap justify-content-around mb-2 gap-1">
            <div *ngFor="let tag of title.tags"
                 class="px-1 border border-primary">{{tag}}</div>
        </div>
        <div class="d-flex flex-wrap gap-2">
            <a class="btn btn-primary flex-grow-2"
               [class.disabled]="!title.shiki_link"
               [href]="title.shiki_link">Страница на shikimori.one</a>
            <a class="btn flex-grow-1"
               [ngClass]="title.watch_link ? 'btn-success': 'btn-outline-success'"
               [class.disabled]="!title.watch_link"
               [href]="title.watch_link">Смотреть</a>
            <a class="btn flex-grow-1 py-0 d-flex justify-content-center align-items-center"
               [ngClass]="title.watch_link ? 'btn-success': 'btn-outline-success'"
               [class.disabled]="!title.torrent_link"
               [href]="title.torrent_link">
                <div class="icon-mimic"><span>µ</span></div>
            </a>
        </div>
    </div>
    <div class="flex-grow-0 p-0 right-column gap-2">
        <button class="btn"
                [ngClass]="{'btn-success': userVote=='yes', 'btn-outline-success': userVote!='yes', 'top-votes': userVote && topVotesNumber!=0 && topVotesNumber==yesNumber}"
                [ngbTooltip]="userVote ? (yesNumber ? yesVotes : '...') : 'Хочу посмотреть'"
                container="body"
                placement="end"
                (click)="voteClick('yes')">{{userVote ? yesNumber : '🞁'}}</button>
        <button class="btn"
                [ngClass]="{'btn-warning': userVote=='ok', 'btn-outline-warning': userVote!='ok', 'top-votes': userVote && topVotesNumber!=0 && topVotesNumber==okNumber}"
                [ngbTooltip]="userVote ? (okNumber ? okVotes : '...') : 'Не против посмотреть'"
                container="body"
                placement="end"
                (click)="voteClick('ok')">{{userVote ? okNumber : '—'}}</button>
        <button class="btn"
                [ngClass]="{'btn-danger': userVote=='no', 'btn-outline-danger': userVote!='no', 'top-votes': userVote && topVotesNumber!=0 && topVotesNumber==noNumber}"
                [ngbTooltip]="userVote ? (noNumber ? noVotes : '...') : 'Не хочу смотреть'"
                container="body"
                placement="end"
                (click)="voteClick('no')">{{userVote ? noNumber : '🞃'}}</button>
    </div>
</div>
