.title-card {
  max-width: 100%;
  min-width: min-content;
  flex-wrap: nowrap;
  display: flex;
  @media screen and (max-width: 700px) {
    flex-direction: column !important;
    .text-enlarge-15{
      font-size: 1em;
    }
  }

  a {
    text-decoration: none;

    span{
      &:not(.anounce):hover {
        text-decoration: underline;
        filter: brightness(80%);
      }
      &.anounce{
        font-weight: normal;
        position: relative;
        top: -0.2em;
        span{
          position: relative;
          top: -0.1em;
        }
      }
    }
  }

  .right-column {
    width: max-content;
    display: flex;
    flex-flow: column wrap;

    @media screen and (max-width: 700px) {
      flex-direction: row !important;
    }

    button {
      position: relative;
      width: 2.5em;
      text-align: center;
      &.top-votes {
        &::before {
          content: '決';
          color: var(--bs-white);
          $color: var(--bs-success);
          font-weight: bold;
          text-shadow: 1px 0 1px $color,
            0 1px 1px $color,
            -1px 0 1px $color,
            0 -1px 1px $color;
          position: absolute;
          top: -0.5em;
          right: -0.5em;
        }
      }
    }
  }
}

.text-full-wrap {
  word-wrap: break-word;
}

::ng-deep {

  //первый на зуме сдвинут вниз
  .title-card-container:first-child .image-container:hover {
    transform: translate(0, 45px) scale(2.5) !important;
  }

  //последний на зуме сдвинут вверх
  .title-card-container:not(:first-child):last-child .image-container:hover {
    transform: translate(0, -75px) scale(2.5) !important;
  }
}


.image-container {
  //переменная
  $transition: all 0.15s;
  border-radius: 5px;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  position: relative;
  padding: 0;
  cursor: pointer;
  transition: $transition;

  &.checked {
    &::before {
      content: '✓';
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--bs-primary);
      opacity: 0.7;
      color: white;
      text-align: center;
      font-size: 5em;
    }
  }

  &:hover {
    z-index: 1;
    transition: $transition;
    transform: scale(2.5);
  }

  img {
    width: 110px;
    height: auto;
  }
}

//TODO убрать подчеркивание
.icon-mimic {
  position: relative;
  width: 1.5em;
  padding: 0 0.5em;
  height: 1.5em;
  font-weight: bold;
  font-style: italic;
  font-size: 1.2em;
  border: 1px solid;
  border-radius: 1em;


  span {
    top: -0.2em;
    left: -0.05em;
    position: relative;
  }
}
