<!-- <h1>{{width}}</h1> -->
<!-- <h2>{{checkedTitles | json}}</h2> -->
<div class="list-component d-flex justify-content-between">
    <div class="list-container d-flex justify-content-center">
        <div class="list flex-grow-1"
             #container>
            <ul class="nav nav-tabs mb-1"
                *ngIf="mode=='titles'">
                <li class="nav-item">
                    <a class="nav-link"
                       [class.active]="submode=='list'"
                       aria-current="page"
                       routerLink="/list">Список</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       [class.active]="submode=='ongoing'"
                       routerLink="/ongoing">Не вышло</a>
                </li>
            </ul>
            <div>
                <div class="mb-3 title-card-container"
                     *ngFor="let title of titles">
                    <titleCard [mode]="mode"
                               [title]="title"
                               [(checked)]="checkedTitles[title.id]"></titleCard>
                </div>
            </div>
        </div>
    </div>
    <div class="right-menu ms-2 p-2 flex-grow-0 flex-shrink-0"
         *ngIf="mode=='titles'"
         [class.opened]="rightMenuOpen">
        <ng-container *ngIf="submode=='list'">
            <button class="btn btn-secondary open-button"
                    (click)="rightMenuOpen = !rightMenuOpen">{{rightMenuOpen ? '>' : '&lt;'}}</button>
            <div class="content mt-3"
                 #collapse="ngbCollapse"
                 [(ngbCollapse)]="!rightMenuOpen"
                 [horizontal]="true">
                <button class="btn btn-success mb-2"
                        (click)="getRandomTitle()"><i class="bi bi-shuffle"></i> Случайный тайтл</button>
                <div *ngIf="randomTitle && titles"
                     class="w-100 text-center">
                    <img role="button"
                         width="100%"
                         [src]="randomTitle.pic"
                         alt="logo.jpg">
                    <h4 role="button">{{randomTitle.name}}</h4>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="submode=='ongoing'">
            <button class="btn btn-secondary open-button"
                    (click)="rightMenuOpen = !rightMenuOpen">{{rightMenuOpen ? '>' : '&lt;'}}</button>
            <div class="content mt-3"
                 #collapse="ngbCollapse"
                 [(ngbCollapse)]="!rightMenuOpen"
                 [horizontal]="true">
                <button class="btn btn-success mb-2"
                        (click)="initiateOngoingUpdate()"><i class="bi bi-arrow-clockwise"></i> Обновить данные об
                    онгоингах</button>
                <div *ngIf="ongoingUpdateData">
                    <ngb-progressbar [showValue]="true"
                                     type="success"
                                     [value]="ongoingUpdateData.processed"
                                     [max]="ongoingUpdateData.total"></ngb-progressbar>
                <div *ngIf="ongoingUpdateData.cameOutList.length">
                    Вышло:
                    <ul>
                        <li *ngFor="let name of ongoingUpdateData.cameOutList">
                            {{name}}
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
