<!-- <h1>{{width}}</h1> -->
<!-- <h2>{{checkedTitles | json}}</h2> -->
<div class="list-component d-flex justify-content-between">
    <div class="list-container d-flex justify-content-center">
        <div class="list flex-grow-1"
             #container>
            <ul class="nav nav-tabs mb-1"
                *ngIf="mode=='titles'">
                <li class="nav-item">
                    <a class="nav-link"
                       [class.active]="submode=='list'"
                       aria-current="page"
                       routerLink="/list">Список</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       [class.active]="submode=='ongoing'"
                       routerLink="/ongoing">Не вышло</a>
                </li>
            </ul>
            <div>
                <div class="mb-3 title-card-container"
                     *ngFor="let title of titles | titlesSort : sort : onlyNotRated : mode=='archive'">
                    <titleCard [mode]="mode"
                               [title]="title"
                               [(checked)]="checkedTitles[title.id]"></titleCard>
                </div>
            </div>
        </div>
    </div>
    <div class="right-menu ms-2 p-2 flex-grow-0 flex-shrink-0"
         *ngIf="mode=='titles'"
         [class.opened]="rightMenuOpen">
        <button class="btn btn-secondary open-button"
                (click)="rightMenuOpen = !rightMenuOpen">{{rightMenuOpen ? '>' : '&lt;'}}</button>
        <div class="content mt-3 px-2"
             #collapse="ngbCollapse"
             [(ngbCollapse)]="!rightMenuOpen"
             [horizontal]="true">
            <div class="btn-group d-flex w-100"
                 role="group">
                <input type="radio"
                       class="btn-check"
                       name="sort-radio"
                       id="sort-radio-1"
                       [value]="'add'"
                       [(ngModel)]="sort"
                       (ngModelChange)="saveSortMode()">
                <label class="btn btn-outline-primary br-rt-0 br-rb-0 br-lb-0"
                       for="sort-radio-1">Добавление</label>

                <input type="radio"
                       class="btn-check"
                       name="sort-radio"
                       id="sort-radio-2"
                       [value]="'release'"
                       [(ngModel)]="sort"
                       (ngModelChange)="saveSortMode()">
                <label class="btn btn-outline-primary br-lt-0 br-lb-0 br-rb-0"
                       for="sort-radio-2">Выход</label>
            </div>
            <div class="btn-group d-flex mb-2 w-100"
                 role="group">
                <input type="radio"
                       class="btn-check"
                       name="sort-radio"
                       id="sort-radio-3"
                       [value]="'votes'"
                       [(ngModel)]="sort"
                       (ngModelChange)="saveSortMode()">
                <label class="btn btn-outline-primary br-rt-0 br-rb-0 br-lt-0"
                       for="sort-radio-3">Голоса</label>

                <input type="radio"
                       class="btn-check"
                       name="sort-radio"
                       id="sort-radio-4"
                       [value]="'rating'"
                       [(ngModel)]="sort"
                       (ngModelChange)="saveSortMode()">
                <label class="btn btn-outline-primary br-lt-0 br-lb-0 br-rt-0"
                       for="sort-radio-4">Рейтинг</label>
            </div>
            <div class="mb-2 w-100 form-check form-switch user-select-none" role="button">
              <input class="form-check-input" type="checkbox" id="onlyNotRatedCheck" [(ngModel)]="onlyNotRated">
              <label class="form-check-label" for="onlyNotRatedCheck">Только не оцененные</label>
            </div>
            <ng-container *ngIf="submode=='list'">
                <button class="btn btn-success mb-2 w-100 d-block"
                        (click)="getRandomTitle()"><i class="bi bi-shuffle"></i> Случайный тайтл</button>
                <div *ngIf="randomTitle && titles"
                     class="w-100 text-center">
                    <img role="button"
                         width="100%"
                         [src]="randomTitle.pic"
                         alt="logo.jpg">
                    <h4 role="button">{{randomTitle.name}}</h4>
                </div>
            </ng-container>
            <ng-container *ngIf="submode=='ongoing'">
                <button class="btn btn-success mb-2 d-block"
                        (click)="initiateOngoingUpdate()"><i class="bi bi-arrow-clockwise"></i> Обновить
                    онгоинги</button>
                <div *ngIf="ongoingUpdateData">
                    <ngb-progressbar [showValue]="true"
                                     type="success"
                                     [value]="ongoingUpdateData.processed"
                                     [max]="ongoingUpdateData.total"></ngb-progressbar>
                    <div *ngIf="ongoingUpdateData.cameOutList.length">
                        Вышло:
                        <ul>
                            <li *ngFor="let name of ongoingUpdateData.cameOutList">
                                {{name}}
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</div>
