<ul class="nav nav-tabs mb-1" *ngIf="mode=='titles'">
    <li class="nav-item">
      <a class="nav-link" [class.active]="submode=='list'" aria-current="page" routerLink="/list">Основной список</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="submode=='ongoing'" routerLink="/ongoing">Список не вышедшего</a>
    </li>
  </ul>
<div>
    <div class="mb-3 title-card-container" *ngFor="let title of titles">
        <titleCard [mode]="mode" [title]="title"></titleCard>
    </div>
</div>
